.vuepress-markdown-body code[class*='language-'],
.vuepress-markdown-body pre[class*='language-'] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  -webkit-hyphens: none;
  hyphens: none;
}
.vuepress-markdown-body pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}
.vuepress-markdown-body :not(pre) > code[class*='language-'],
.vuepress-markdown-body pre[class*='language-'] {
  background: #2d2d2d;
}
.vuepress-markdown-body :not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}
.vuepress-markdown-body .token.block-comment,
.vuepress-markdown-body .token.cdata,
.vuepress-markdown-body .token.comment,
.vuepress-markdown-body .token.doctype,
.vuepress-markdown-body .token.prolog {
  color: #999;
}
.vuepress-markdown-body .token.punctuation {
  color: #ccc;
}
.vuepress-markdown-body .token.attr-name,
.vuepress-markdown-body .token.deleted,
.vuepress-markdown-body .token.namespace,
.vuepress-markdown-body .token.tag {
  color: #e2777a;
}
.vuepress-markdown-body .token.function-name {
  color: #6196cc;
}
.vuepress-markdown-body .token.boolean,
.vuepress-markdown-body .token.function,
.vuepress-markdown-body .token.number {
  color: #f08d49;
}
.vuepress-markdown-body .token.class-name,
.vuepress-markdown-body .token.constant,
.vuepress-markdown-body .token.property,
.vuepress-markdown-body .token.symbol {
  color: #f8c555;
}
.vuepress-markdown-body .token.atrule,
.vuepress-markdown-body .token.builtin,
.vuepress-markdown-body .token.important,
.vuepress-markdown-body .token.keyword,
.vuepress-markdown-body .token.selector {
  color: #cc99cd;
}
.vuepress-markdown-body .token.attr-value,
.vuepress-markdown-body .token.char,
.vuepress-markdown-body .token.regex,
.vuepress-markdown-body .token.string,
.vuepress-markdown-body .token.variable {
  color: #7ec699;
}
.vuepress-markdown-body .token.entity,
.vuepress-markdown-body .token.operator,
.vuepress-markdown-body .token.url {
  color: #67cdcc;
}
.vuepress-markdown-body .token.bold,
.vuepress-markdown-body .token.important {
  font-weight: 700;
}
.vuepress-markdown-body .token.italic {
  font-style: italic;
}
.vuepress-markdown-body .token.entity {
  cursor: help;
}
.vuepress-markdown-body .token.inserted {
  color: green;
}
.vuepress-markdown-body code {
  color: #476582;
  padding: 0.25rem 0.5rem;
  margin: 0;
  font-size: 0.85em;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}
.vuepress-markdown-body code .token.deleted {
  color: #ec5975;
}
.vuepress-markdown-body code .token.inserted {
  color: #3eaf7c;
}
.vuepress-markdown-body pre,
.vuepress-markdown-body pre[class*='language-'] {
  line-height: 1.4;
  padding: 1.25rem 1.5rem;
  margin: 0.85rem 0;
  background-color: #282c34;
  border-radius: 6px;
  overflow: auto;
}
.vuepress-markdown-body pre[class*='language-'] code,
.vuepress-markdown-body pre code {
  color: #fff;
  padding: 0;
  background-color: initial;
  border-radius: 0;
}
.vuepress-markdown-body div[class*='language-'] {
  position: relative;
  background-color: #282c34;
  border-radius: 6px;
}
.vuepress-markdown-body div[class*='language-'] .highlight-lines {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 1.3rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  line-height: 1.4;
}
.vuepress-markdown-body div[class*='language-'] .highlight-lines .highlighted {
  background-color: rgba(0, 0, 0, 0.66);
}
.vuepress-markdown-body div[class*='language-'] pre,
.vuepress-markdown-body div[class*='language-'] pre[class*='language-'] {
  background: transparent;
  position: relative;
  z-index: 1;
}
.vuepress-markdown-body div[class*='language-']:before {
  position: absolute;
  z-index: 3;
  top: 0.8em;
  right: 1em;
  font-size: 0.75rem;
  color: hsla(0, 0%, 100%, 0.4);
}
.vuepress-markdown-body div[class*='language-']:not(.line-numbers-mode) .line-numbers-wrapper {
  display: none;
}
.vuepress-markdown-body div[class*='language-'].line-numbers-mode .highlight-lines .highlighted {
  position: relative;
}
.vuepress-markdown-body
  div[class*='language-'].line-numbers-mode
  .highlight-lines
  .highlighted:before {
  content: ' ';
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  display: block;
  width: 3.5rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.66);
}
.vuepress-markdown-body div[class*='language-'].line-numbers-mode pre {
  padding-left: 4.5rem;
  vertical-align: middle;
}
.vuepress-markdown-body div[class*='language-'].line-numbers-mode .line-numbers-wrapper {
  position: absolute;
  top: 0;
  width: 3.5rem;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.3);
  padding: 1.25rem 0;
  line-height: 1.4;
}
.vuepress-markdown-body div[class*='language-'].line-numbers-mode .line-numbers-wrapper br {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.vuepress-markdown-body
  div[class*='language-'].line-numbers-mode
  .line-numbers-wrapper
  .line-number {
  position: relative;
  z-index: 4;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 0.85em;
}
.vuepress-markdown-body div[class*='language-'].line-numbers-mode:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 3.5rem;
  height: 100%;
  border-radius: 6px 0 0 6px;
  border-right: 1px solid rgba(0, 0, 0, 0.66);
  background-color: #282c34;
}
.vuepress-markdown-body div[class~='language-js']:before {
  content: 'js';
}
.vuepress-markdown-body div[class~='language-ts']:before {
  content: 'ts';
}
.vuepress-markdown-body div[class~='language-html']:before {
  content: 'html';
}
.vuepress-markdown-body div[class~='language-md']:before {
  content: 'md';
}
.vuepress-markdown-body div[class~='language-vue']:before {
  content: 'vue';
}
.vuepress-markdown-body div[class~='language-css']:before {
  content: 'css';
}
.vuepress-markdown-body div[class~='language-sass']:before {
  content: 'sass';
}
.vuepress-markdown-body div[class~='language-scss']:before {
  content: 'scss';
}
.vuepress-markdown-body div[class~='language-less']:before {
  content: 'less';
}
.vuepress-markdown-body div[class~='language-stylus']:before {
  content: 'stylus';
}
.vuepress-markdown-body div[class~='language-go']:before {
  content: 'go';
}
.vuepress-markdown-body div[class~='language-java']:before {
  content: 'java';
}
.vuepress-markdown-body div[class~='language-c']:before {
  content: 'c';
}
.vuepress-markdown-body div[class~='language-sh']:before {
  content: 'sh';
}
.vuepress-markdown-body div[class~='language-yaml']:before {
  content: 'yaml';
}
.vuepress-markdown-body div[class~='language-py']:before {
  content: 'py';
}
.vuepress-markdown-body div[class~='language-docker']:before {
  content: 'docker';
}
.vuepress-markdown-body div[class~='language-dockerfile']:before {
  content: 'dockerfile';
}
.vuepress-markdown-body div[class~='language-makefile']:before {
  content: 'makefile';
}
.vuepress-markdown-body div[class~='language-javascript']:before {
  content: 'js';
}
.vuepress-markdown-body div[class~='language-typescript']:before {
  content: 'ts';
}
.vuepress-markdown-body div[class~='language-markup']:before {
  content: 'html';
}
.vuepress-markdown-body div[class~='language-markdown']:before {
  content: 'md';
}
.vuepress-markdown-body div[class~='language-json']:before {
  content: 'json';
}
.vuepress-markdown-body div[class~='language-ruby']:before {
  content: 'rb';
}
.vuepress-markdown-body div[class~='language-python']:before {
  content: 'py';
}
.vuepress-markdown-body div[class~='language-bash']:before {
  content: 'sh';
}
.vuepress-markdown-body div[class~='language-php']:before {
  content: 'php';
}
.vuepress-markdown-body .custom-block .custom-block-title {
  font-weight: 600;
  margin-bottom: -0.4rem;
}
.vuepress-markdown-body.custom-block.danger,
.vuepress-markdown-body .custom-block.tip,
.vuepress-markdown-body .custom-block.warning {
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
}
.vuepress-markdown-body .custom-block.tip {
  background-color: #f3f5f7;
  border-color: #42b983;
}
.vuepress-markdown-body .custom-block.warning {
  background-color: rgba(255, 229, 100, 0.3);
  border-color: #e7c000;
  color: #6b5900;
}
.vuepress-markdown-body .custom-block.warning .custom-block-title {
  color: #b29400;
}
.vuepress-markdown-body .custom-block.warning a {
  color: #2c3e50;
}
.vuepress-markdown-body .custom-block.danger {
  background-color: #ffe6e6;
  border-color: #c00;
  color: #4d0000;
}
.vuepress-markdown-body .custom-block.danger .custom-block-title {
  color: #900;
}
.vuepress-markdown-body .custom-block.danger a {
  color: #2c3e50;
}
.vuepress-markdown-body .custom-block.details {
  display: block;
  position: relative;
  border-radius: 2px;
  margin: 1.6em 0;
  padding: 1.6em;
  background-color: #eee;
}
.vuepress-markdown-body .custom-block.details h4 {
  margin-top: 0;
}
.vuepress-markdown-body .custom-block.details figure:last-child,
.vuepress-markdown-body .custom-block.details p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.vuepress-markdown-body .custom-block.details summary {
  outline: none;
  cursor: pointer;
}
.vuepress-markdown-body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #2c3e50;
}
.vuepress-markdown-body.custom {
  padding: 0;
  margin: 0;
}
.vuepress-markdown-body.custom img {
  max-width: 100%;
}
.vuepress-markdown-body a {
  font-weight: 500;
  text-decoration: none;
}
.vuepress-markdown-body a,
.vuepress-markdown-body p a code {
  color: #3eaf7c;
}
.vuepress-markdown-body p a code {
  font-weight: 400;
}
.vuepress-markdown-body kbd {
  background: #eee;
  border: 0.15rem solid #ddd;
  border-bottom: 0.25rem solid #ddd;
  border-radius: 0.15rem;
  padding: 0 0.15em;
}
.vuepress-markdown-body blockquote {
  font-size: 1rem;
  color: #999;
  border-left: 0.2rem solid #dfe2e5;
  margin: 1rem 0;
  padding: 0.25rem 0 0.25rem 1rem;
}
.vuepress-markdown-body blockquote > p {
  margin: 0;
}
.vuepress-markdown-body ol,
.vuepress-markdown-body ul {
  padding-left: 1.2em;
}
.vuepress-markdown-body strong {
  font-weight: 600;
}
.vuepress-markdown-body h1,
.vuepress-markdown-body h2,
.vuepress-markdown-body h3,
.vuepress-markdown-body h4,
.vuepress-markdown-body h5,
.vuepress-markdown-body h6 {
  font-weight: 600;
  line-height: 1.25;
}
.vuepress-markdown-body h1:hover .header-anchor,
.vuepress-markdown-body h2:hover .header-anchor,
.vuepress-markdown-body h3:hover .header-anchor,
.vuepress-markdown-body h4:hover .header-anchor,
.vuepress-markdown-body h5:hover .header-anchor,
.vuepress-markdown-body h6:hover .header-anchor {
  opacity: 1;
}
.vuepress-markdown-body h1 {
  font-size: 2.2rem;
}
.vuepress-markdown-body h2 {
  font-size: 1.65rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #eaecef;
}
.vuepress-markdown-body h3 {
  font-size: 1.35rem;
}
.vuepress-markdown-body a.header-anchor {
  font-size: 0.85em;
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  margin-top: 0.125em;
  opacity: 0;
}
.vuepress-markdown-body a.header-anchor:hover {
  text-decoration: none;
}
.vuepress-markdown-body .line-number,
.vuepress-markdown-body code,
.vuepress-markdown-body kbd {
  font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}
.vuepress-markdown-body ol,
.vuepress-markdown-body p,
.vuepress-markdown-body ul {
  line-height: 1.7;
}
.vuepress-markdown-body hr {
  border: 0;
  border-top: 1px solid #eaecef;
}
.vuepress-markdown-body table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
}
.vuepress-markdown-body tr {
  border-top: 1px solid #dfe2e5;
}
.vuepress-markdown-body tr:nth-child(2n) {
  background-color: #f6f8fa;
}
.vuepress-markdown-body td,
.vuepress-markdown-body th {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
