.github-markdown-body {
  padding: 16px 32px 32px;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
  line-height: 1.5;
  word-wrap: break-word;
}

.github-markdown-body > :first-child,
.github-markdown-body > div[data-v-md-line]:first-child > :first-child {
  margin-top: 0 !important;
}

.github-markdown-body > :last-child,
.github-markdown-body > div[data-v-md-line]:last-child > :last-child {
  margin-top: 0 !important;
}

.github-markdown-body a {
  color: #0366d6;
  font-weight: normal;
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

.github-markdown-body a:hover {
  text-decoration: underline;
}

.github-markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  color: #444d56;
  font: 11px SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  line-height: 10px;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

.github-markdown-body::after,
.github-markdown-body::before {
  display: table;
  content: '';
}

.github-markdown-body::after {
  clear: both;
}

.github-markdown-body a:not([href]) {
  text-decoration: none;
}

.github-markdown-body .absent {
  color: #cb2431;
}

.github-markdown-body .anchor {
  float: left;
  margin-left: -20px;
  padding-right: 4px;
  line-height: 1;
}

.github-markdown-body .anchor:focus {
  outline: none;
}

.github-markdown-body blockquote,
.github-markdown-body details,
.github-markdown-body dl,
.github-markdown-body ol,
.github-markdown-body p,
.github-markdown-body pre,
.github-markdown-body table,
.github-markdown-body ul {
  margin-top: 0;
  margin-bottom: 16px;
}

.github-markdown-body hr {
  height: 0.25em;
  margin: 24px 0;
  padding: 0;
  background-color: #e1e4e8;
  border: 0;
}

.github-markdown-body blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}

.github-markdown-body blockquote > :first-child {
  margin-top: 0;
}

.github-markdown-body blockquote > :last-child {
  margin-bottom: 0;
}

.github-markdown-body h1,
.github-markdown-body h2,
.github-markdown-body h3,
.github-markdown-body h4,
.github-markdown-body h5,
.github-markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.github-markdown-body i,
.github-markdown-body em {
  font-style: italic;
}
.github-markdown-body ul {
  list-style-type: disc;
}
.github-markdown-body ul ul,
.github-markdown-body ol ul {
  list-style-type: circle;
}
.github-markdown-body ol ol ul,
.github-markdown-body ol ul ul,
.github-markdown-body ul ol ul,
.github-markdown-body ul ul ul {
  list-style-type: square;
}
.github-markdown-body ol {
  list-style-type: decimal;
}

.github-markdown-body h1 .octicon-link,
.github-markdown-body h2 .octicon-link,
.github-markdown-body h3 .octicon-link,
.github-markdown-body h4 .octicon-link,
.github-markdown-body h5 .octicon-link,
.github-markdown-body h6 .octicon-link {
  color: #1b1f23;
  vertical-align: middle;
  visibility: hidden;
}

.github-markdown-body h1:hover .anchor,
.github-markdown-body h2:hover .anchor,
.github-markdown-body h3:hover .anchor,
.github-markdown-body h4:hover .anchor,
.github-markdown-body h5:hover .anchor,
.github-markdown-body h6:hover .anchor {
  text-decoration: none;
}

.github-markdown-body h1:hover .anchor .octicon-link,
.github-markdown-body h2:hover .anchor .octicon-link,
.github-markdown-body h3:hover .anchor .octicon-link,
.github-markdown-body h4:hover .anchor .octicon-link,
.github-markdown-body h5:hover .anchor .octicon-link,
.github-markdown-body h6:hover .anchor .octicon-link {
  visibility: visible;
}

.github-markdown-body h1 code,
.github-markdown-body h1 tt,
.github-markdown-body h2 code,
.github-markdown-body h2 tt,
.github-markdown-body h3 code,
.github-markdown-body h3 tt,
.github-markdown-body h4 code,
.github-markdown-body h4 tt,
.github-markdown-body h5 code,
.github-markdown-body h5 tt,
.github-markdown-body h6 code,
.github-markdown-body h6 tt {
  font-size: inherit;
}

.github-markdown-body h1 {
  font-size: 2em;
}

.github-markdown-body h1,
.github-markdown-body h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid #eaecef;
}

.github-markdown-body h2 {
  font-size: 1.5em;
}

.github-markdown-body h3 {
  font-size: 1.25em;
}

.github-markdown-body h4 {
  font-size: 1em;
}

.github-markdown-body h5 {
  font-size: 0.875em;
}

.github-markdown-body h6 {
  color: #6a737d;
  font-size: 0.85em;
}

.github-markdown-body ol,
.github-markdown-body ul {
  padding-left: 2em;
}

.github-markdown-body ol.no-list,
.github-markdown-body ul.no-list {
  padding: 0;
  list-style-type: none;
}

.github-markdown-body ol ol,
.github-markdown-body ol ul,
.github-markdown-body ul ol,
.github-markdown-body ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.github-markdown-body li {
  word-wrap: break-all;
}

.github-markdown-body li > p {
  margin-top: 16px;
}

.github-markdown-body li + li {
  margin-top: 0.25em;
}

.github-markdown-body dl {
  padding: 0;
}

.github-markdown-body dl dt {
  margin-top: 16px;
  padding: 0;
  font-weight: 600;
  font-size: 1em;
  font-style: italic;
}

.github-markdown-body dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}

.github-markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.github-markdown-body table th {
  font-weight: 600;
}

.github-markdown-body table td,
.github-markdown-body table th {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

.github-markdown-body table tr {
  background-color: #fff;
  border-top: 1px solid #c6cbd1;
}

.github-markdown-body table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.github-markdown-body table img {
  background-color: initial;
}

.github-markdown-body img {
  box-sizing: initial;
  max-width: 100%;
  background-color: #fff;
  border: 0;
}

.github-markdown-body img[align='right'] {
  padding-left: 20px;
}

.github-markdown-body img[align='left'] {
  padding-right: 20px;
}

.github-markdown-body .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: initial;
}

.github-markdown-body span.frame {
  display: block;
  overflow: hidden;
}

.github-markdown-body span.frame > span {
  display: block;
  float: left;
  width: auto;
  margin: 13px 0 0;
  padding: 7px;
  overflow: hidden;
  border: 1px solid #dfe2e5;
}

.github-markdown-body span.frame span img {
  display: block;
  float: left;
}

.github-markdown-body span.frame span span {
  display: block;
  clear: both;
  padding: 5px 0 0;
  color: #24292e;
}

.github-markdown-body span.align-center {
  display: block;
  clear: both;
  overflow: hidden;
}

.github-markdown-body span.align-center > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

.github-markdown-body span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

.github-markdown-body span.align-right {
  display: block;
  clear: both;
  overflow: hidden;
}

.github-markdown-body span.align-right > span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

.github-markdown-body span.align-right span img {
  margin: 0;
  text-align: right;
}

.github-markdown-body span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

.github-markdown-body span.float-left span {
  margin: 13px 0 0;
}

.github-markdown-body span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

.github-markdown-body span.float-right > span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

.github-markdown-body code,
.github-markdown-body tt {
  margin: 0;
  padding: 0.2em 0.4em;
  font-size: 85%;
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 3px;
}

.github-markdown-body code br,
.github-markdown-body tt br {
  display: none;
}

.github-markdown-body del code {
  text-decoration: inherit;
}

.github-markdown-body div[class*='v-md-pre-wrapper-'] {
  position: relative;
  background-color: #f6f8fa;
}

.github-markdown-body div[class*='v-md-pre-wrapper-'] pre,
.github-markdown-body div[class*='v-md-pre-wrapper-'] pre[class*='v-md-prism-'] {
  position: relative;
  z-index: 1;
  background: transparent;
}

.github-markdown-body div[class*='v-md-pre-wrapper-'].line-numbers-mode pre {
  padding-left: 4.5rem;
}

.github-markdown-body div[class*='v-md-pre-wrapper-'].line-numbers-mode::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 3.5rem;
  height: 100%;
  background-color: #f6f8fa;
  border-right: 1px solid #dcdfe6;
  border-radius: 6px 0 0 6px;
  content: '';
}

.github-markdown-body div[class*='v-md-pre-wrapper-'].line-numbers-mode .line-numbers-wrapper {
  position: absolute;
  top: 0;
  width: 3.5rem;
  padding: 16px 0;
  color: #909399;
  font-size: 85%;
  line-height: 1.45;
  text-align: center;
}

.github-markdown-body
  div[class*='v-md-pre-wrapper-'].line-numbers-mode
  .line-numbers-wrapper
  .line-number {
  position: relative;
  z-index: 4;
  font-size: 0.85em;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.github-markdown-body pre,
.github-markdown-body code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

.github-markdown-body pre > code {
  margin: 0;
  padding: 0;
  font-size: 100%;
  white-space: pre;
  word-break: normal;
  background: transparent;
  border: 0;
}

.github-markdown-body pre {
  margin-bottom: 16px;
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  word-wrap: normal;
  background-color: #f6f8fa;
  border-radius: 3px;
}

.github-markdown-body pre code,
.github-markdown-body pre tt {
  display: inline;
  max-width: auto;
  margin: 0;
  padding: 0;
  overflow: visible;
  color: #444d56;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  border: 0;
}

.github-markdown-body .csv-data td,
.github-markdown-body .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  white-space: nowrap;
  text-align: left;
}

.github-markdown-body .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #fff;
  border: 0;
}

.github-markdown-body .csv-data tr {
  border-top: 0;
}

.github-markdown-body .csv-data th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0;
}

/*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/

.github-markdown-body .hljs {
  display: block;
  padding: 0.5em;
  overflow-x: auto;
  color: #333;
  background: #f8f8f8;
}

.github-markdown-body .hljs-comment,
.github-markdown-body .hljs-quote {
  color: #998;
  font-style: italic;
}

.github-markdown-body .hljs-keyword,
.github-markdown-body .hljs-selector-tag,
.github-markdown-body .hljs-subst {
  color: #333;
  font-weight: bold;
}

.github-markdown-body .hljs-number,
.github-markdown-body .hljs-literal,
.github-markdown-body .hljs-variable,
.github-markdown-body .hljs-template-variable,
.github-markdown-body .hljs-tag .hljs-attr {
  color: #008080;
}

.github-markdown-body .hljs-string,
.github-markdown-body .hljs-doctag {
  color: #d14;
}

.github-markdown-body .hljs-title,
.github-markdown-body .hljs-section,
.github-markdown-body .hljs-selector-id {
  color: #900;
  font-weight: bold;
}

.github-markdown-body .hljs-subst {
  font-weight: normal;
}

.github-markdown-body .hljs-type,
.github-markdown-body .hljs-class .hljs-title {
  color: #458;
  font-weight: bold;
}

.github-markdown-body .hljs-tag,
.github-markdown-body .hljs-name,
.github-markdown-body .hljs-attribute {
  color: #000080;
  font-weight: normal;
}

.github-markdown-body .hljs-regexp,
.github-markdown-body .hljs-link {
  color: #009926;
}

.github-markdown-body .hljs-symbol,
.github-markdown-body .hljs-bullet {
  color: #990073;
}

.github-markdown-body .hljs-built_in,
.github-markdown-body .hljs-builtin-name {
  color: #0086b3;
}

.github-markdown-body .hljs-meta {
  color: #999;
  font-weight: bold;
}

.github-markdown-body .hljs-deletion {
  background: #fdd;
}

.github-markdown-body .hljs-addition {
  background: #dfd;
}

.github-markdown-body .hljs-emphasis {
  font-style: italic;
}

.github-markdown-body .hljs-strong {
  font-weight: bold;
}
